/* BurgerControl.css */

.burger-control {
    background-color: #FFA500; /* Orange background color */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    width: 120px;
    margin: 5px;
    padding: 10px;
    background-color: #FFD700; /* Yellow button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .total-display {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #8f0a0a; /* White text color */
    margin-left: 20px;
  }
  
  
  .order-button {
    width: 150px;
    margin: 10px 5px;
    padding: 10px;
    background-color: #8B4513; /* Brown button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .ingredient-name {
    text-transform: capitalize;
    display: inline-block;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
  }

  /* add hover and click to buttons */
  .button:hover {
    background-color: #ecd23d; /* Yellow button color */
  }
  
  .button:active {
    background-color: #8B4513; /* Yellow button color */
    color: #fff; /* White text color */
  }

  .order-button:hover {
    background-color: #683613; /* Yellow button color */
  }

  .order-button:active {
    background-color: #eccc3d; /* Yellow button color */
    color: #0c0202; /* White text color */
  }